/* -- -- HOME -- -- */
.home #section_home1,.home #section_home2,.home #section_home3,.home #section_home4{position:relative;width:100%;background-color: #000;}
.home #section_home1 > .bg,.home #section_home2 > .bg,.home #section_home3 > .bg,.home #section_home4 > .bg{display:block;width:100%;height:auto;}
.home #section_home1 > .signature{
    position: absolute;
    top: 30%;
    right: 4%;
    width: 34%;
}
.home #section_home3 > .signature{
    position: absolute;
    top: 0;
    right: 0%;
    width: 48%;
}
.home #section_home2 > .signature{
    position: absolute;
    top: 30%;
    left: 4%;
    width: 31%;
}
.home #section_home4 > .signature{
    position: absolute;
    top: 9%;
    left: -41px;
    width: 59%;
}
.home .floating-square{
    background-color: rgb(0, 0, 0);
    opacity: 0.902;
    width: 29.4vmin;
    padding-top: 0.6vmin;
    padding-left: 1vmin;
    padding-bottom: 0.6vmin;
    box-sizing: border-box;
}
.home .w_floating-square{transform:translateY(-50%);position:absolute;}
.home #section_home1 > .w_floating-square,.home #section_home3 > .w_floating-square{left:4%;top:50%;}
.home #section_home2 > .w_floating-square,.home #section_home4 > .w_floating-square{right:4%;top:50%;}
.home .floating-square > h1{
    letter-spacing: 0.65vmin;
    margin: 0 0 0.65vmin 0;
    font-family: "hpsimplified",sans-serif;
    font-size: 2.25vmin;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.home .w_discover{width: 100%;margin-top:1.18vmin;}
.home .w_discover a{cursor:pointer;padding: 1vmin 1.36vmin;letter-spacing: 0.175vmin;background-color: rgb(201, 148, 43);display: inline-block;color:#fff;font-size: 1.425vmin;font-family:"hpsimplified",sans-serif;font-weight:bold}
.home #section_home2 .w_discover,.home #section_home4 .w_discover{text-align:right}

.home .w_star{
    position: relative;
    margin-bottom: 0.85vmin;
}
.home .star{vertical-align:middle;padding-top:0;width: 7.85vmin;height: 1.4vmin;background-size: 100%;}
.home .star:before{font-size:34px;width: 168px;height: 21px;}
.home .star:after{font-size:34px;height: 21px;}
.home .w_star .nb_avis{
    font-family:"Roboto",sans-serif;
    margin-left: 0.9vmin;
    font-size: 1.3vmin;
    vertical-align: middle;
    color:#fff;}

.home .priceline *{font-family:"Roboto",sans-serif;}
.home .priceline{
    font-family: "Roboto",sans-serif;
    vertical-align: middle;
    color: #fff;
    font-size: 1.3vmin;
    margin: 0.2vmin auto;
}
.home .priceline span {
    vertical-align: middle;
    font-size: 3.75vmin;
    font-weight: bold;
}
.home .priceline span > span{
    font-size: 1.875vmin;
    vertical-align: top;
}

.home .odr{position:absolute;
    top:4%;left:50%;transform:translateX(-50%);
    width: 7.65vmin;
    height: 7.65vmin;}
.home .claim{font-size: 0.97vmin;position:absolute;color:#fff;bottom:10px;right:10px;margin:0;font-family:"hpsimplified",sans-serif;}
