<div :class="'produit '+params.produits[produit].page.color" v-if="page != 'home'">
    <!-- PRODUCT PAGE -->
    <div id="w_popin" v-show="popin_show">
        <div class="popin">
            <span class="w_img-popin">
                <img src="../../assets/img/close_popin.png" class="close_popin" @click="closePopin()">
                <img :src="popin_content" v-if="popin_type=='image'"/>
            </span>
            <video id="video" v-if="popin_type=='video'" preload='auto' autoplay='true' controls='controls' >
                <source :src='popin_content' type='video/mp4' />
            </video>
        </div>
    </div>
    <section id="section_prod1">
        <img :src="getImageProduit(produit,'header')">
        <span class="goback" @click="menuChange('home',produit)" style="cursor: pointer"><img :src="getImageProduit(produit,'retour')"><p>Retour</p></span>
        <div class="floating_odr" v-if="params.produits[produit].page.odr_header && params.produits[produit].page.odr_header != ''" v-html="params.produits[produit].page.odr_header"></div>
        <div class="product_specs">
            <h1 :class="params.produits[produit].page.bgcolor">{{ params.produits[produit].page.produit }}</h1>
            <div class="specs-body">
                <img :src="getImageProduit(produit,'signature')">
                <p v-html="params.produits[produit].page.description"></p>
            </div>
            <div class="w_star" v-if="getAvis(produit) > 0"><span :class="getStars(produit)"></span><span class="nb_avis">{{ getAvis(produit) }} avis clients</span></div>
            <p class="priceline" v-html="getPrice(produit, 'full')"></p><a class="add-to-cart" v-if="hasPrice(produit)" @click="addToCart(produit)"><i></i>Ajouter au panier</a><a class="add-to-cart indispo" style="cursor: default;"  v-else><i></i>A partir de {{ params.produits[produit].page.default_price }}€</a>
            <a :href="params.produits[produit].page.touteslesconfigs" target="_blank" @click="clickConfigs(produit)" class="view-other">voir les autres configurations</a>
        </div>
        <div class="brands"><img :src="getImageProduit(produit,'logo_hp')"><span class="separator"></span><img :src="getImageProduit(produit,'logo_intel')"></div>
    </section>
    <section id="section_prod2">
      <slick name='products' :items='getCarrousel(produit)' v-on:slideclick="slideClick"/>
        <div class="w_table_resume">
            <div class="cell" v-for="(carac, indice) in params.produits[produit].page.caracteristiques">
                <h3 :class="params.produits[produit].page.bgcolor">{{ carac.titre }}</h3>
                <img :src="getImageProduit(produit,'desc'+(indice+1))">
                <p>{{ carac.texte }}</p>
            </div>
        </div>
    </section>
    <section id="section_prod3">
        <img :src="getImageProduit(produit,'centre')">
    </section>
    <section id="section_prod4" v-if="params.produits[produit].page.microsoft.odr == ''" >
        <span class="w_title"><h2>{{ params.produits[produit].page.microsoft.type }}</h2></span>
        <div :class="params.produits[produit].page.microsoft.fonctions"></div><ul class="windows_list">
        <li v-for="fonc in params.produits[produit].page.microsoft.descriptif">{{ fonc }}</li>
    </ul>
    </section>
    <section id="section_prod4" v-else>
        <span class="w_title"><h2>{{ params.produits[produit].page.microsoft.type }}</h2></span>
        <div class="w_odr">
            <div class="instant-ink_odr" :style="'background-image: url('+getImageProduit(produit, 'visuelodr')+'); background-position: 1vmin 1vmin; background-repeat: no-repeat; background-size: 24vmin; text-align: center'">
                <p v-for="fonc in params.produits[produit].page.microsoft.descriptif">{{ fonc }}</p>
                <a @click="clickPDF(produit)" target="_blank" href="./src/assets/pdf/HP_ODR.pdf">Voir les conditions</a>
            </div>
        </div>
    </section>
    <section id="section_prod5">
       <span class="w_title"><h2>CARACTÉRISTIQUES</h2></span>
       <div class="w_specs">
           <div class="spec">
               <img :src="getImageProduit(produit,'carac1')">
               <span>{{ params.produits[produit].page.triple_icons[0] }}</span>
           </div><div class="spec">
               <img :src="getImageProduit(produit,'carac2')">
               <span>{{ params.produits[produit].page.triple_icons[1] }}</span>
           </div><div class="spec">
               <img :src="getImageProduit(produit,'carac3')">
               <span>{{ params.produits[produit].page.triple_icons[2] }}</span>
           </div>
       </div>
       <div class="w_view-all-btn" toggle="false" @click="showCaract(produit)">
           <a>Voir toutes les caractéritiques</a>
       </div>
       <div class="table-specs">
           <div class="In-spec" v-for="(titre, indice) in params.structure.page.caracteristiques">
               <div :class="'spec-col1 '+params.produits[produit].page.bgcolor" vi-if="params.produits[produit].caracteristiques[indice]"><p>{{ titre }}</p></div>
               <div class="spec-col2" vi-if="params.produits[produit].page.expand[indice]"><p>{{ params.produits[produit].page.expand[indice] }}</p></div>
           </div>
           <div class="w_view-all-btn" toggle="false" @click="showCaract(produit)">
               <a>Voir toutes les caractéritiques</a>
           </div>
       </div>
   </section>
   <section id="section_prod6" v-if="params.produits[produit].page.accessoires.length > 0">
       <span class="w_title"><h2>OFFREZ À VOTRE PC LES ACCESSOIRES QU'IL MÉRITE</h2></span>
       <div class="w_accessories">
           <div class="w_accessory_sheet" v-for="access in getAccessoires(produit)">
               <div class="product_sheet">
                   <div class="product">
                       <div class="product-preview"><img :src="getImage(access.id_produit)" style="width: 100%" /></div>
                       <a :href="access.href" class="href_pdct" target="_blank" @click="showFiche(access.id_produit)"><h1>{{ access.titre }}</h1></a>
                       <p>{{ access.categorie }}</p>
                       <div class="w_star" v-if="getAvis(access.id_produit) > 0"><span :class="getStars(access.id_produit)"></span></div>
                       <div class="price" v-html="getPrice(access.id_produit, 'min')"></div>
                       <div class="priceline"><a class="add-to-cart" v-if="hasPrice(produit)" @click="addToCart(access.id_produit)"><i></i>Ajouter au panier</a><a class="add-to-cart indispo" style="cursor: default;"  v-else><i></i>Indisponible</a></div>
                   </div><span class="v-middle"></span>
               </div>
           </div>
       </div>
   </section>
   <section id="section_prod7">{{ params.produits[produit].page.legal }}</section>
</div>
