/* POPIN */
.produit #w_popin{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.9);z-index: 9999;}
.produit #w_popin .popin{width:100%;height:100%;position:relative;}
.produit #w_popin .popin .w_img-popin{
    height: auto;
    width: 70%;
    position: relative;
    top: 60vmin;
    left: 50%;
    transform: translateX(-50%);
    display: block;}
.produit #w_popin .close_popin{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: -60px;
    width: 2vmin;}
.produit #w_popin img{opacity: 1;position:absolute;width:100%;height:auto;display:block;}
.produit #w_popin video{width: 70%;height: auto;background: #000;top: 77vmin;left: 50%;position: absolute;transform: translateX(-50%) translateY(-50%);}
/* SECTION 1 */
.produit #section_prod1 *{font-family:"hpsimplified",sans-serif;}
.produit #section_prod1 {position:relative;width:100%;background-color: #000;}
.produit #section_prod1 > img{display:block;width:100%;height:auto;}
.produit #section_prod1 .goback{color:#fff;position:absolute;top: 3.5%;left: 1.9%;}
.produit.black #section_prod1 .goback{color:#1a1a1a;position:absolute;top: 3.5%;left: 1.9%;}
.produit #section_prod1 .goback > img{margin-right: 0.58vmin;width: 1.4vmin;height:auto;}
.produit #section_prod1 .goback > p{font-size: 1.4vmin;margin:0;}
.produit #section_prod1 .goback > p:hover{text-decoration:underline;}
.produit #section_prod1 .goback > img, .produit #section_prod1 .goback > p{display:inline-block}
.produit #section_prod1 .floating_odr{
    position: absolute;
    top: 18%;
    right: 54%;
    width: 6.5vmin;
    height: 6.5vmin;
    background: #c9942b;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1vmin;
    box-sizing: border-box;
    padding-top: 1.5vmin;}
.produit #section_prod1 .floating_odr span{
    display: block;
    font-size: 2.8vmin;
    line-height: 2.4vmin;}
.produit #section_prod1 .floating_odr sup{vertical-align: baseline;}
.produit #section_prod1 .product_specs{
    position:absolute;
    width:45%;
    top: 3%;
    right: 3%;
}
.produit #section_prod1 .product_specs h1{
    font-size: 2.5vmin;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-bottom: solid 2px rgb(175, 175, 175);
    letter-spacing: 0.3vmin;
    padding-bottom: 0.4vmin;
    margin-top:0;
}
.produit #section_prod1 .product_specs h1.gold{ border-bottom-color: rgb(200, 148, 44);}
.produit.black #section_prod1 .product_specs h1 { color: #1a1a1a; }
.produit #section_prod1 .specs-body{width:100%}
.produit #section_prod1 .specs-body > img {width:85%}
.produit #section_prod1 .specs-body > p{line-height: 2.7vmin;font-family:"Roboto",sans-serif;color:#fff;font-size:1.8vmin;margin-top:0;margin-bottom: 1.8vmin;}
.produit.black #section_prod1 .specs-body > p{ color:#1a1a1a; }
.produit #section_prod1 .specs-body > p > span{font-family:"Roboto",sans-serif;font-size: 17px;vertical-align: super;}
.produit #section_prod1 .w_star{position:relative;margin-bottom: 2.35vmin;}
.produit #section_prod1 .star{vertical-align:middle;padding-top:0;width: 8vmin;height: 1.5vmin;background-size: 100%;}
.produit #section_prod1 .w_star .nb_avis{
    font-family:"Roboto",sans-serif;
    margin-left: 0.9vmin;
    font-size: 1.3vmin;
    vertical-align: middle;
    color:#fff;}
.produit.black #section_prod1 .w_star .nb_avis{color:#1a1a1a;}
.produit #section_prod1 .priceline *{font-family:"Roboto",sans-serif;}
.produit #section_prod1 .priceline{font-family:"Roboto",sans-serif;vertical-align:middle;color:#fff;font-size:1.3vmin;margin: 1.3vmin auto;}
.produit.black #section_prod1 .priceline{color:#1a1a1a;}
.produit #section_prod1 .priceline span{
    vertical-align: middle;
    font-size: 5.2vmin;
    font-weight: bold;
    line-height: 0;}
.produit #section_prod1 .priceline span > span{font-size: 2.8vmin;vertical-align: top;}
.produit #section_prod1 .priceline + .add-to-cart{
    border: 0;
    cursor: pointer;
    display: block;
    width: 14.9vmin;
    color: white;
    line-height: 2em;
    border-radius: 4px;
    text-align: center;
    font-size: 1.4vmin;
    float: right;
    background-color: #f5b027;}
.produit #section_prod1 .priceline + .add-to-cart:hover{ background-color: #ffba33 }
.produit #section_prod1 .priceline + .add-to-cart.indispo{color:#1a1a1a; background-color: white;}
.produit #section_prod1 .priceline + .add-to-cart.indispo i{display: none!important;}
/*.produit.black #section_prod1 .priceline + .add-to-cart{color:#1a1a1a;}*/

.produit #section_prod1 .add-to-cart i{
    margin-right: 0.5vmin;
}
.produit #section_prod1 .add-to-cart i:before {
    content: "\f148";
    font-family: "icons";
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.produit #section_prod1 .view-other{
    font-size: 1.4vmin;
    font-family:"Roboto",sans-serif;
    color: rgb(142, 142, 142);
    text-decoration: underline;
    margin-top: 1.2vmin;
    display: inline-block;
    cursor: pointer;
}
.produit #section_prod1 .view-other:hover{text-decoration:none;}
.produit #section_prod1 .brands{position:absolute;bottom: 3.4%;right: 4.8%;}
.produit #section_prod1 .brands .separator{width: 0.2vmin;height: 2.45vmin;display: inline-block;margin: 0 1.5vmin;background:rgb(142, 142, 142);}
/*.produit.black #section_prod1 .brands .separator{background:#1a1a1a;}*/
.produit #section_prod1 .brands img, .produit #section_prod1 .brands .separator{display:inline-block;vertical-align:middle;}
.produit #section_prod1 .brands img{height: 3.7vmin;}
/* SECTION2 */
.produit #section_prod2{background:#fff;padding: 2.9vmin 7%;}
.produit #section_prod2 .w_cr_products{position:relative}
.produit #section_prod2 #cr_products{overflow: hidden;position:relative;}
.produit #section_prod2 #cr_products .w_slide{
    position:relative;
    display: inline-block;
    width: calc(25% - 4px);
    height: 281px;
    background-color:#fff;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;}
.produit #section_prod2 #cr_products .slide{cursor:pointer;position:absolute;top:0;left:50%;transform:translateX(-50%);border: solid 1px rgb(48, 48, 48);height:100%;width:88.744%;background-size: cover;background-position: center;}
.produit .w_cr_products .slick-prev{cursor:pointer;display:inline-block;position:absolute;top:50%;width: 1.94vmin;height: 3.46vmin;left:0;transform:translateX(-100%) translateY(-50%);}
.produit .w_cr_products .slick-next{cursor:pointer;display:inline-block;position:absolute;top:50%;width: 1.94vmin;height: 3.46vmin;right:0;transform:translateX(100%) translateY(-50%) scale(-1);}
.produit .w_cr_products[carrousel='gold'] .slick-prev{background:url(../../assets/img/carrousel_gold/fleche_carrousel_img_normal.png) center 100%; background-size:contain;background-repeat:no-repeat}
.produit .w_cr_products[carrousel='gold'] .slick-next{background:url(../../assets/img/carrousel_gold/fleche_carrousel_img_normal.png) center 100%; background-size:contain;background-repeat:no-repeat}
.produit .w_cr_products[carrousel='gold'] .slick-prev:hover{background:url(../../assets/img/carrousel_gold/fleche_carrousel_img_hover.png) center 100%; background-size:contain;background-repeat:no-repeat}
.produit .w_cr_products[carrousel='gold'] .slick-next:hover{background:url(../../assets/img/carrousel_gold/fleche_carrousel_img_hover.png) center 100%; background-size:contain;background-repeat:no-repeat}
.produit .w_cr_products[carrousel='blue'] .slick-prev{background:url(../../assets/img/carrousel_blue/fleche_carrousel-img.png) center 100%; background-size:contain;background-repeat:no-repeat}
.produit .w_cr_products[carrousel='blue'] .slick-next{background:url(../../assets/img/carrousel_blue/fleche_carrousel-img.png) center 100%; background-size:contain;background-repeat:no-repeat}
.produit .w_cr_products[carrousel='blue'] .slick-prev:hover{background:url(../../assets/img/carrousel_blue/fleche_carrousel-img_hover.png) center 100%; background-size:contain;background-repeat:no-repeat}
.produit .w_cr_products[carrousel='blue'] .slick-next:hover{background:url(../../assets/img/carrousel_blue/fleche_carrousel-img_hover.png) center 100%; background-size:contain;background-repeat:no-repeat}
.produit .slide .play-btn{position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:8vmin;height:8vmin;background-image:url(../../assets/img/btn_play_normal.png);background-size:cover;}
.produit .slide .play-btn:hover{background-image:url(../../assets/img/btn_play_hover.png)}
.produit .w_table_resume{width:100%;font-family:"hpsimplified",sans-serif;margin-top: 4.12vmin;}
.produit .w_table_resume .cell{position:relative;padding-right: 4.1vmin;background-size: 4.1vmin;display:inline-block;vertical-align:top;width:50%;box-sizing:border-box;padding-left: 5.9vmin;background-repeat: no-repeat;background-position: 0.05vmin 0;}
.produit .w_table_resume .cell img{position:absolute;top:0;left:0;width:4.1vmin;}
.produit .w_table_resume .cell h3{font-size: 1.9vmin;color: rgb(175, 175, 175);font-weight: bold;margin:0;}
.produit .w_table_resume .cell h3.gold{color: rgb(200, 148, 44);}
.produit .w_table_resume .cell p{margin-top: 0.56vmin;font-size: 1.61vmin;font-family:"Roboto",sans-serif;color: rgb(48, 48, 48);line-height: 1.93vmin;}
.produit .w_table_resume .cell p > span{font-size:10px;vertical-align: super;}
/* SECTION3 */
.produit #section_prod3{position:relative;width:100%;background-color: #000;}
.produit #section_prod3 > img{display:block;width:100%;height:auto;}
/* SECTION4 */
.produit #section_prod4{width:100%;background:#fff;padding: 2.94vmin 5% 0 5%;box-sizing: border-box;}
.produit #section_prod4 .w_title{display:block;width:100%;border-bottom:solid 3px rgb(201, 148, 43);margin-bottom: 2.94vmin;}
.produit #section_prod4 .w_title h2{margin-bottom: 0.5vmin;font-size: 2.3vmin;letter-spacing: 0.34vmin;font-family:"hpsimplified",sans-serif;color: rgb(48, 48, 48);font-weight: bold;}
.produit #section_prod4 .cortana, .produit #section_prod4 .windows_list, .produit #section_prod4 .Windows_Hello{display:inline-block;vertical-align:top;}
.produit #section_prod4 .cortana{
    width: 25%;height: 17.62vmin;
    background: url(../../assets/img/SPECTRE_13/logo_cortana.png)top center no-repeat;
    background-size: 18vmin;}
.produit #section_prod4 .Windows_Hello{
    width: 25%; height: 14.62vmin;
    background:url(../../assets/img/ENVY_34/windows_hello.png) top center no-repeat;
    background-size: 18vmin;
}
.produit #section_prod4 .windows_list{margin-top: 0;width: 75%;box-sizing: border-box;font-size: 1.65vmin;font-family:"Roboto",sans-serif;color: rgb(48, 48, 48);}
.produit #section_prod4 .windows_list li{
    background-image : url(../../assets/img/SPECTRE_13/fleche_meilleur-de-windows.png);
    background-size: 0.6vmin auto;
    padding-left: 2.35vmin;
    margin-bottom: 0.94vmin;
    list-style-type: none;
    background-position: 1vmin 0.2vmin;
    background-repeat: no-repeat;}
.produit #section_prod4 .instant-ink_odr > p{display:inline-block;margin:0;width:100%;text-align: center;}
.produit #section_prod4 .instant-ink_odr > p:first-child{font-size: 1.65vmin;font-family:"hpsimplified",sans-serif;color: rgb(48, 48, 48);}
.produit #section_prod4 .instant-ink_odr > p:nth-child(2), .produit #section_prod4 .instant-ink_odr > p:nth-child(3){font-size: 2.12vmin;font-family:"hpsimplified",sans-serif;font-weight:bold;color: rgb(48, 48, 48);line-height: 2.5vmin;}
.produit #section_prod4 .instant-ink_odr > a{
    color: rgb(48, 48, 48);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    display:inline-block;
    font-size: 1.65vmin;
    border:solid 1px rgb(175, 175, 175);
    padding: 0.9vmin 2.35vmin;
    margin-top: 1.47vmin;
    margin-bottom: 2.06vmin;}
.produit #section_prod4 .instant-ink_odr > a:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(175, 175, 175);
}
.produit #section_prod4 .instant-ink_odr{
    text-align: center;
    font-family: "hpsimplified",sans-serif;
    color: rgb(51, 51, 51);
    padding-top: 4.115vmin;
}
/* SECTION5 */
.produit #section_prod5{width:100%;background:#fff;padding:0 5%;box-sizing: border-box;}
.produit #section_prod5 .w_title{display:block;width:100%;border-bottom:solid 3px rgb(201, 148, 43);margin-bottom: 2.94vmin;}
.produit #section_prod5 .w_title h2{margin-top:0;margin-bottom: 0.5vmin;font-size: 2.3vmin;letter-spacing: 0.34vmin;font-family:"hpsimplified",sans-serif;color: rgb(48, 48, 48);font-weight: bold;}
.produit #section_prod5 .w_specs{padding: 0 18%;}
.produit #section_prod5 .spec{width:33.3333%;display:inline-block;text-align: center;}
.produit #section_prod5 .spec img{width:5.99vmin;height:auto;}
.produit #section_prod5 .w_specs span{font-size: 1.65vmin;display:block;margin: 0.88vmin auto 0 auto;font-family:"Roboto",sans-serif;}
.produit #section_prod5 .w_view-all-btn{width:100%;padding: 2.94vmin 0;text-align:center;}
.produit #section_prod5 .w_view-all-btn a{cursor:pointer;display:inline-block;font-size: 1.65vmin;font-family:"hpsimplified",sans-serif;font-weight: bold;color: rgb(51, 51, 51);padding: 1.2vmin 2.2vmin;border:1px solid rgb(201, 148, 43);}
.produit #section_prod5 .w_view-all-btn a:hover{border:1px solid rgb(201, 148, 43);background-color: rgb(201, 148, 43); color: rgb(255, 255, 255);font-weight: bold;}
.produit #section_prod5 .table-specs{display: none;}
.produit #section_prod5 .table-specs .note-spec{font-size: 20px;font-family:"hpsimplified",sans-serif;color: rgb(48, 48, 48);line-height: 1.108;}
.produit #section_prod5 .table-specs, .produit #section_prod5 .ln-spec{width:100%;padding-bottom: 1.2vmin;}
.produit #section_prod5 .spec-col1, .produit #section_prod5 .spec-col2{display:inline-block;}
.produit #section_prod5 .spec-col1 { color:rgb(175, 175, 175); }
.produit #section_prod5 .spec-col1.gold { color:rgb(201, 148, 43); }
.produit #section_prod5 .spec-col1{vertical-align:top;width:35%;font-size: 1.9vmin;font-family:"hpsimplified",sans-serif;font-weight: bold;border-bottom:solid 3px rgb(193, 193, 193);}
.produit #section_prod5 .spec-col2{vertical-align:top;width:60%;font-size: 1.65vmin;font-family:"Roboto",sans-serif;color: rgb(48, 48, 48);padding-left: 1.18vmin;box-sizing: border-box;}
.produit #section_prod5 .spec-col1 p{background:#fff;padding-right: 0.8vmin;margin: 0;display: inline-block;float: left;margin-bottom: -0.6vmin;}
.produit #section_prod5 .spec-col2 p{margin-top:0;}
/* SECTION6 */
.produit #section_prod6{width:100%;background:#fff;padding:0 5%;box-sizing: border-box;}
.produit #section_prod6 .w_title{display:block;width:100%;border-bottom:solid 3px rgb(201, 148, 43);margin-bottom: 2.94vmin;}
.produit #section_prod6 .w_title h2{margin-top:0;margin-bottom: 0.5vmin;font-size: 2.3vmin;letter-spacing: 0.34vmin;font-family:"hpsimplified",sans-serif;color: rgb(48, 48, 48);font-weight: bold;}
.produit #section_prod6 .w_accessories{width:100%;}
.produit #section_prod6 .w_accessory_sheet{vertical-align: top;display:inline-block;width:33.333%;box-sizing:border-box}
.produit #section_prod6 .w_accessory_sheet:first-child{padding-right: 1.1745vmin;}
.produit #section_prod6 .w_accessory_sheet:nth-child(2){padding-right: 0.587vmin;padding-left: 0.587vmin;}
.produit #section_prod6 .w_accessory_sheet:nth-child(3){padding-left: 1.1745vmin;}
.produit #section_prod6 .w_accessory_sheet:first-child .product_sheet{margin: 0 auto 0 0;}
.produit #section_prod6 .w_accessory_sheet:nth-child(2) .product_sheet{margin: 0 auto;}
.produit #section_prod6 .w_accessory_sheet:nth-child(3) .product_sheet{margin: 0 0 0 auto;}
.produit #section_prod6 .product_sheet{border:solid 1px rgb(62, 62, 62);max-width: 510px;height: 910px;padding: 0 2.94vmin;box-sizing: border-box;}
.produit #section_prod6 .product_sheet .product{width:100%;display:inline-block;vertical-align:middle;}
.produit #section_prod6 .product_sheet .product a.href_pdct{
    color: #000;text-decoration: none;}
.produit #section_prod6 .product_sheet .product h1{
    color: #000;
    font-family: "hpsimplified",sans-serif;
    font-size: 1.95vmin;
    margin-bottom: 0.47vmin;
}
.produit #section_prod6 .product_sheet .product p{color: #bbbbbb;font-family: "hpsimplified",sans-serif;font-size: 1.65vmin;margin: 0;}
.produit #section_prod6 .product_sheet .product .star{width: 8vmin;height: 1.5vmin;background-size: 100%;}
.produit #section_prod6 .w_star{margin-top: 1.177vmin;}
.rpoduit #section_prod6 .star{width: 7.87vmin;height: 1.53vmin;background-size:100%;}
.produit #section_prod6 .price{font-size: 2.8vmin;font-family: "hpsimplified",sans-serif;color:#f00;font-weight: bold}
.produit #section_prod6 .price span{vertical-align: super;font-size: 1.3vmin;}
.produit #section_prod6 .priceline{
    padding: 1.18vmin 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;}
.produit #section_prod6 .priceline .add-to-cart{
    font-family: "hpsimplified",sans-serif;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
    display: block;
    width: 14.7vmin;
    color: white;
    line-height: 2.85vmin;
    border-radius: 4px;
    text-align: center;
    font-size: 1.41vmin;
    background-color: #f5b027;}

.produit #section_prod6 .add-to-cart i{
    margin-right: 0.55vmin;
}
.produit #section_prod6 .add-to-cart i:before {
    content: "\f148";
    font-family: "icons";
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* SECTION7 */
.produit #section_prod7{font-family:"Roboto",sans-serif;width:100%;background:#fff;padding: 2.94vmin 5%;box-sizing: border-box;color: #bbbbbb;}