<div :class="'w_cr_'+name" carrousel="gold">
    <span class="slick-prev" @click="prevItem()"></span>
    <div :id="'cr_'+name">
        <div class="w_slide" v-for="item in items">
            <div class="slide" :style="item.background" @click="slideClick(item)"><div class="play-btn" v-if="item.video"></div></div>
        </div>
    </div>
    <span class="slick-next" @click="nextItem()"></span>
</div>
