<nav>
    <ul>
        <li v-for="(menu, indice) in params.structure[page].menu" @click="menuChange(params.structure[page].produits[indice], 'menu')"><span :class="'w_nav-lbl'+(params.structure[page].produits[indice] == produit ?' selected':'')"><p>{{ menu }}</p><span class="nav-un-lbl"></span></span><span class="v-middle"></span></li>
    </ul>
    <img src="../assets/img/HEADER/logo_hp.png" class="logo-hp" @click="menuChange('home', 'menu')">
</nav>
