/* SECTION 1 */
#section1 *{font-family:"hpsimplified",sans-serif;}
#section1{position:relative;width:100%;background-color: #000;}
#section1 > img{display:block;width:100%;height:auto;}
#section1 .goback{color:#fff;position:absolute;top:30px;left:30px;}
#section1 .goback > img{margin-right:10px}
#section1 .goback > p{font-size:24px;margin:0;}
#section1 .goback > img, #section1 .goback > p{display:inline-block}
#section1 .product_specs{
    position:absolute;
    width:790px;
    top: 10%;
    right: 16%;
}
#section1 .product_specs h1{
    font-size: 39px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-bottom: solid 2px rgb(200, 148, 44);
    letter-spacing: 5px;
    padding-bottom: 7px;
}
#section1 .specs-body{width:100%}
#section1 .specs-body > p{line-height: 1.5;font-family:"Roboto",sans-serif;color:#fff;font-size:29px;margin-top:0;}
#section1 .specs-body > p > span{font-family:"Roboto",sans-serif;font-size: 17px;vertical-align: super;}
#section1 .w_star{position:relative;margin-bottom:40px;}
#section1 .star{vertical-align:middle;padding-top:0;}
#section1 .star:before{font-size:34px;width: 168px;height: 21px;}
#section1 .star:after{font-size:34px;height: 21px;}
#section1 .w_star .nb_avis{
    font-family:"Roboto",sans-serif;
    margin-left: 15px;
    font-size: 22px;
    vertical-align: middle;
    color:#fff;}
#section1 .priceline *{font-family:"Roboto",sans-serif;}
#section1 .priceline{font-family:"Roboto",sans-serif;vertical-align:middle;color:#fff;font-size:22px;}
#section1 .priceline span{
    vertical-align: middle;
    font-size: 90px;
    font-weight: bold;
    line-height: 0;}
#section1 .priceline span > span{font-size:47px;vertical-align: top;}
#section1 .priceline .add-to-cart{
    border: 0;
    cursor: pointer;
    display: block;
    width: 250px;
    color: white;
    line-height: 2em;
    border-radius: 4px;
    text-align: center;
    font-size: 24px;
    float: right;
    background-color: #f5b027;}

#section1 .add-to-cart i{
    margin-right: 9px;
}
#section1 .add-to-cart i:before {
    content: "\f148";
    font-family: "icons";
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#section1 .view-other{
    font-size: 24px;
    font-family:"Roboto",sans-serif;
    color: rgb(142, 142, 142);
    text-decoration: underline;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
}
#section1 .view-other:hover{text-decoration:none;}
#section1 .brands{position:absolute;bottom:30px;right:80px;}
#section1 .brands .separator{width:3px;height:41px;display: inline-block;margin: 0 25px;background:#fff;}
#section1 .brands img, #section1 .brands .separator{display:inline-block;vertical-align:middle;}
/* SECTION2 */
#section2{background:#fff;padding: 50px 7%;}
#section2 .w_cr_products{position:relative}
#section2 #cr_products{overflow: hidden;position:relative;}
#section2 #cr_products .w_slide{
    position:relative;
    display: inline-block;
    width: calc(25% - 4px);
    height: 281px;
    background-color:#fff;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;}
#section2 #cr_products .slide{cursor:pointer;position:absolute;top:0;left:50%;transform:translateX(-50%);border: solid 1px rgb(48, 48, 48);height:100%;width:88.744%;background-size: cover;background-position: center;}
#section2 #cr_products[product='spectre13']   .w_slide[data-slick-index="-4"] .slide,    #section2 #cr_products[product='spectre13'] .w_slide[data-slick-index="4"] .slide{background-image:url(../img/SPECTRE_13/carrousel/lifestyle_1.jpg);}
#section2 #cr_products[product='spectre13']   .w_slide[data-slick-index="-3"] .slide,    #section2 #cr_products[product='spectre13'] .w_slide[data-slick-index="5"] .slide{background-image:url(../img/SPECTRE_13/carrousel/lifestyle_2.jpg);}
#section2 #cr_products[product='spectre13']   .w_slide[data-slick-index="-2"] .slide,    #section2 #cr_products[product='spectre13'] .w_slide[data-slick-index="6"] .slide{background-image:url(../img/SPECTRE_13/carrousel/lifestyle_3.jpg);}
#section2 #cr_products[product='spectre13']   .w_slide[data-slick-index="-1"] .slide,    #section2 #cr_products[product='spectre13'] .w_slide[data-slick-index="7"] .slide{background-image:url(../img/SPECTRE_13/carrousel/lifestyle_4.jpg);}
#section2 #cr_products[product='spectre13']   .w_slide[data-slick-index="0"] .slide,     #section2 #cr_products[product='spectre13'] .w_slide[data-slick-index="8"] .slide{background-image:url(../img/SPECTRE_13/carrousel/studio_1.jpg);}
#section2 #cr_products[product='spectre13']   .w_slide[data-slick-index="1"] .slide,     #section2 #cr_products[product='spectre13'] .w_slide[data-slick-index="9"] .slide{background-image:url(../img/SPECTRE_13/carrousel/studio_2.jpg);}
#section2 #cr_products[product='spectre13']   .w_slide[data-slick-index="2"] .slide,     #section2 #cr_products[product='spectre13'] .w_slide[data-slick-index="10"] .slide{background-image:url(../img/SPECTRE_13/carrousel/studio_3.jpg);}
#section2 #cr_products[product='spectre13']   .w_slide[data-slick-index="3"] .slide,     #section2 #cr_products[product='spectre13'] .w_slide[data-slick-index="11"] .slide{background-image:url(../img/SPECTRE_13/carrousel/studio_4.jpg);}
#section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="-4"],    #section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="4"]{background-image:url(../img/SPECTRE_X360/carrousel/lifestyle_1.jpg);}
#section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="-3"],    #section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="5"]{background-image:url(../img/SPECTRE_X360/carrousel/lifestyle_2.jpg);}
#section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="-2"],    #section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="6"]{background-image:url(../img/SPECTRE_X360/carrousel/lifestyle_3.jpg);}
#section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="-1"],    #section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="7"]{background-image:url(../img/SPECTRE_X360/carrousel/lifestyle_4.jpg);}
#section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="0"],     #section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="8"]{background-image:url(../img/SPECTRE_X360/carrousel/studio_1.jpg);}
#section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="1"],     #section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="9"]{background-image:url(../img/SPECTRE_X360/carrousel/studio_2.jpg);}
#section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="3"],     #section2 #cr_products[product='spectrex360'] .w_slide[data-slick-index="10"]{background-image:url(../img/SPECTRE_X360/carrousel/studio_3.jpg);}
#section2 #cr_products[product='envy13']      .w_slide[data-slick-index="-4"],    #section2 #cr_products[product='envy13'] .w_slide[data-slick-index="4"]{background-image:url(../img/ENVY_13/carrousel/lifestyle_1.jpg);}
#section2 #cr_products[product='envy13']      .w_slide[data-slick-index="-3"],    #section2 #cr_products[product='envy13'] .w_slide[data-slick-index="5"]{background-image:url(../img/ENVY_13/carrousel/lifestyle_2.jpg);}
#section2 #cr_products[product='envy13']      .w_slide[data-slick-index="-2"],    #section2 #cr_products[product='envy13'] .w_slide[data-slick-index="6"]{background-image:url(../img/ENVY_13/carrousel/lifestyle_3.jpg);}
#section2 #cr_products[product='envy13']      .w_slide[data-slick-index="-1"],    #section2 #cr_products[product='envy13'] .w_slide[data-slick-index="7"]{background-image:url(../img/ENVY_13/carrousel/lifestyle_4.jpg);}
#section2 #cr_products[product='envy13']      .w_slide[data-slick-index="0"],     #section2 #cr_products[product='envy13'] .w_slide[data-slick-index="8"]{background-image:url(../img/ENVY_13/carrousel/studio_1.jpg);}
#section2 #cr_products[product='envy13']      .w_slide[data-slick-index="1"],     #section2 #cr_products[product='envy13'] .w_slide[data-slick-index="9"]{background-image:url(../img/ENVY_13/carrousel/studio_2.jpg);}
#section2 #cr_products[product='envy13']      .w_slide[data-slick-index="2"],     #section2 #cr_products[product='envy13'] .w_slide[data-slick-index="10"]{background-image:url(../img/ENVY_13/carrousel/studio_3.jpg);}
#section2 #cr_products[product='envy13']      .w_slide[data-slick-index="3"],     #section2 #cr_products[product='envy13'] .w_slide[data-slick-index="11"]{background-image:url(../img/ENVY_13/carrousel/studio_4.jpg);}
#section2 #cr_products[product='envy34']      .w_slide[data-slick-index="-4"],    #section2 #cr_products[product='envy34'] .w_slide[data-slick-index="4"]{background-image:url(../img/ENVY_34/carrousel/lifestyle_1.jpg);}
#section2 #cr_products[product='envy34']      .w_slide[data-slick-index="-3"],    #section2 #cr_products[product='envy34'] .w_slide[data-slick-index="5"]{background-image:url(../img/ENVY_34/carrousel/lifestyle_2.jpg);}
#section2 #cr_products[product='envy34']      .w_slide[data-slick-index="-2"],    #section2 #cr_products[product='envy34'] .w_slide[data-slick-index="6"]{background-image:url(../img/ENVY_34/carrousel/lifestyle_3.jpg);}
#section2 #cr_products[product='envy34']      .w_slide[data-slick-index="-1"],    #section2 #cr_products[product='envy34'] .w_slide[data-slick-index="7"]{background-image:url(../img/ENVY_34/carrousel/lifestyle_4.jpg);}
#section2 #cr_products[product='envy34']      .w_slide[data-slick-index="0"],     #section2 #cr_products[product='envy34'] .w_slide[data-slick-index="8"]{background-image:url(../img/ENVY_34/carrousel/studio_1.jpg);}
#section2 #cr_products[product='envy34']      .w_slide[data-slick-index="1"],     #section2 #cr_products[product='envy34'] .w_slide[data-slick-index="9"]{background-image:url(../img/ENVY_34/carrousel/studio_2.jpg);}
#section2 #cr_products[product='envy34']      .w_slide[data-slick-index="2"],     #section2 #cr_products[product='envy34'] .w_slide[data-slick-index="10"]{background-image:url(../img/ENVY_34/carrousel/studio_3.jpg);}
#section2 #cr_products[product='envy34']      .w_slide[data-slick-index="3"],     #section2 #cr_products[product='envy34'] .w_slide[data-slick-index="11"]{background-image:url(../img/ENVY_34/carrousel/studio_4.jpg);}
.w_cr_products .slick-prev{cursor:pointer;display:inline-block;position:absolute;top:50%;width:33px;height:59px;left:0;transform:translateX(-100%) translateY(-50%);}
.w_cr_products .slick-next{cursor:pointer;display:inline-block;position:absolute;top:50%;width:33px;height:59px;right:0;transform:translateX(100%) translateY(-50%) scale(-1);}
.w_cr_products[carrousel='gold'] .slick-prev{background:url(../img/carrousel_gold/fleche_carrousel_img_normal.png) center 100%;}
.w_cr_products[carrousel='gold'] .slick-next{background:url(../img/carrousel_gold/fleche_carrousel_img_normal.png) center 100%;}
.w_cr_products[carrousel='gold'] .slick-prev:hover{background:url(../img/carrousel_gold/fleche_carrousel_img_hover.png) center 100%;}
.w_cr_products[carrousel='gold'] .slick-next:hover{background:url(../img/carrousel_gold/fleche_carrousel_img_hover.png) center 100%;}
.w_cr_products[carrousel='blue'] .slick-prev{background:url(../img/carrousel_blue/fleche_carrousel-img.png) center 100%;}
.w_cr_products[carrousel='blue'] .slick-next{background:url(../img/carrousel_blue/fleche_carrousel-img.png) center 100%;}
.w_cr_products[carrousel='blue'] .slick-prev:hover{background:url(../img/carrousel_blue/fleche_carrousel-img_hover.png) center 100%;}
.w_cr_products[carrousel='blue'] .slick-next:hover{background:url(../img/carrousel_blue/fleche_carrousel-img_hover.png) center 100%;}
.slide .play-btn{position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);width:136px;height:136px;background-image:url(../img/SPECTRE_13/btn_play_normal.png);background-size:cover;}
.slide .play-btn:hover{background-image:url(../img/SPECTRE_13/btn_play_hover.png)}

.w_table_resume{width:100%;font-family:"hpsimplified",sans-serif;margin-top: 60px;}
.w_table_resume .cell{padding-right: 70px;background-size: 63px;display:inline-block;vertical-align:top;width:50%;box-sizing:border-box;padding-left:100px;background-repeat: no-repeat;background-position: 20px 0;}
.w_table_resume .cell:first-child{background-image: url(../img/SPECTRE_13/picto_finesse.png);}
.w_table_resume .cell:nth-child(2){background-image: url(../img/SPECTRE_13/icone_puissance.png);}
.w_table_resume .cell:nth-child(3){background-image: url(../img/SPECTRE_13/icone_ecran-fullHD.png);}
.w_table_resume .cell:nth-child(4){background-image: url(../img/SPECTRE_13/icone_hp-lounge.png);}
.w_table_resume .cell h3{font-size: 32px;color: rgb(200, 148, 44);font-weight: bold;margin:0;}
.w_table_resume .cell p{margin-top:10px;font-size: 28px;font-family:"Roboto",sans-serif;color: rgb(48, 48, 48);line-height: 1.5;}
.w_table_resume .cell p > span{font-size:10px;vertical-align: super;}
/* SECTION3 */
#section3{position:relative;width:100%;background-color: #000;}
#section3 > img{display:block;width:100%;height:auto;}
/* SECTION4 */
#section4{width:100%;background:#fff;padding:50px 5% 0 5%;box-sizing: border-box;}
#section4 .w_title{display:block;width:100%;border-bottom:solid 3px rgb(201, 148, 43);margin-bottom: 50px;}
#section4 .w_title h2{margin-bottom: 8px;font-size: 39px;letter-spacing: 5.5px;font-family:"hpsimplified",sans-serif;color: rgb(48, 48, 48);font-weight: bold;}
#section4 .cortana, #section4 .windows_list{display:inline-block;vertical-align:top;}
#section4 .cortana{
    width: 25%;
    height: 300px;
    background: url(../img/SPECTRE_13/logo_cortana.png)top center no-repeat;}
#section4 .windows_list{margin-top: 0;width: 75%;box-sizing: border-box;font-size: 28px;font-family:"Roboto",sans-serif;color: rgb(48, 48, 48);}
#section4 .windows_list li{margin-bottom: 16px;list-style-image : url(../img/SPECTRE_13/fleche_meilleur-de-windows.png);}
/* SECTION5 */
#section5{width:100%;background:#fff;padding:0 5%;box-sizing: border-box;}
#section5 .w_title{display:block;width:100%;border-bottom:solid 3px rgb(201, 148, 43);margin-bottom: 50px;}
#section5 .w_title h2{margin-top:0;margin-bottom: 8px;font-size: 39px;letter-spacing: 5.5px;font-family:"hpsimplified",sans-serif;color: rgb(48, 48, 48);font-weight: bold;}
#section5 .w_specs{padding: 0 18%;}
#section5 .spec{width:33.3333%;display:inline-block;text-align: center;}
#section5 .w_specs span{font-size: 28px;display:block;margin:15px auto 0 auto;font-family:"Roboto",sans-serif;}
#section5 .w_view-all-btn{width:100%;padding: 50px 0;text-align:center;}
#section5 .w_view-all-btn a{cursor:pointer;display:inline-block;font-size: 28px;font-family:"hpsimplified",sans-serif;font-weight: bold;color: rgb(51, 51, 51);padding: 20px 37px;border:1px solid rgb(201, 148, 43);}
#section5 .w_view-all-btn a:hover{border:1px solid rgb(201, 148, 43);background-color: rgb(201, 148, 43); color: rgb(255, 255, 255);font-weight: bold;}
#section5 .table-specs{display: none;}
#section5 .table-specs .note-spec{font-size: 20px;font-family:"hpsimplified",sans-serif;color: rgb(48, 48, 48);line-height: 1.108;}
#section5 .table-specs, #section5 .ln-spec{width:100%;padding-bottom: 20px;}
#section5 .spec-col1, #section5 .spec-col2{display:inline-block;vertical-align:top;}
#section5 .spec-col1{width:40%;font-size: 32px;font-family:"hpsimplified",sans-serif;font-weight: bold;border-bottom:solid 3px rgb(193, 193, 193);}
#section5 .spec-col2{width:60%;font-size: 28px;font-family:"Roboto",sans-serif;color: rgb(48, 48, 48);padding-left: 20px;box-sizing: border-box;}
#section5 .spec-col1 p{background:#fff;padding-right: 12px;margin: 0;display: inline-block;float: left;margin-bottom: -10px;}
/* SECTION6 */
#section6{width:100%;background:#fff;padding:0 5%;box-sizing: border-box;}
#section6 .w_title{display:block;width:100%;border-bottom:solid 3px rgb(201, 148, 43);margin-bottom: 50px;}
#section6 .w_title h2{margin-top:0;margin-bottom: 8px;font-size: 39px;letter-spacing: 5.5px;font-family:"hpsimplified",sans-serif;color: rgb(48, 48, 48);font-weight: bold;}
#section6 .w_accessories{width:100%;}
#section6 .w_accessory_sheet{display:inline-block;width:33.333%;box-sizing:border-box}
#section6 .w_accessory_sheet:first-child{padding-right:20px}
#section6 .w_accessory_sheet:nth-child(2){padding-right:10px;padding-left:10px}
#section6 .w_accessory_sheet:nth-child(3){padding-left:20px}
#section6 .w_accessory_sheet:first-child .product_sheet{margin: 0 auto 0 0;}
#section6 .w_accessory_sheet:nth-child(2) .product_sheet{margin: 0 auto;}
#section6 .w_accessory_sheet:nth-child(3) .product_sheet{margin: 0 0 0 auto;}
#section6 .product_sheet{border:solid 1px rgb(62, 62, 62);max-width: 510px;height: 910px;padding: 0 50px;box-sizing: border-box;}
#section6 .product_sheet .product{width:100%;display:inline-block;vertical-align:middle;}
#section6 .product-preview{background-image: url(http://lorempixel.com/output/city-q-g-992-632-3.jpg);background-repeat:no-repeat;background-size:cover;background-position:center;}
#section6 .product_sheet .product h1{
    color: #000;
    font-family: "hpsimplified",sans-serif;
    font-size: 33px;
    margin-bottom: 8px;
}
#section6 .product_sheet .product p{color: #bbbbbb;font-family: "hpsimplified",sans-serif;font-size: 28px;margin: 0;}
#section6 .star:before {font-size: 34px;width: 168px;height: 21px;}
#section6 .star:after {font-size: 34px;height: 21px;}
#section6 .w_star{margin-top: 20px;}
#section6 .price{font-size: 47px;font-family: "hpsimplified",sans-serif;color:#f00;font-weight: bold}
#section6 .price span{vertical-align: super;font-size:22px;}
#section6 .priceline{
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;}
#section6 .priceline .add-to-cart{
    font-family: "hpsimplified",sans-serif;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
    display: block;
    width: 250px;
    color: white;
    line-height: 2em;
    border-radius: 4px;
    text-align: center;
    font-size: 24px;
    background-color: #f5b027;}

#section6 .add-to-cart i{
    margin-right: 9px;
}
#section6 .add-to-cart i:before {
    content: "\f148";
    font-family: "icons";
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* SECTION7 */
#section7{font-family:"Roboto",sans-serif;width:100%;background:#fff;padding: 50px 5%;box-sizing: border-box;color: #bbbbbb;}