.w_products .customers_ratings{background:url(../../assets/img/starsrating.png) left no-repeat; background-size: 100%}
.w_products .labo_ratings{background: url(../../assets/img/laborating.png) left no-repeat; background-size: 100%}

.w_products .customers_ratings[rating='0']{background-position: -1px 0  ;}.w_products .customers_ratings[rating='0.5']{background-position: -1px 10%;}
.w_products .customers_ratings[rating='1']{background-position: -1px 20%;}.w_products .customers_ratings[rating='1.5']{background-position: -1px 31%;}
.w_products .customers_ratings[rating='2']{background-position: -1px 41%;}.w_products .customers_ratings[rating='2.5']{background-position: -1px 51%;}
.w_products .customers_ratings[rating='3']{background-position: -1px 61%;}.w_products .customers_ratings[rating='3.5']{background-position: -1px 71%;}
.w_products .customers_ratings[rating='4']{background-position: -1px 81%;}.w_products .customers_ratings[rating='4.5']{background-position: -1px 91%;}
.w_products .customers_ratings[rating='5']{background-position: -1px 101%;}

.labo_ratings[rating='0']{background-position: 22px 0  ;}.labo_ratings[rating='0.5']{background-position: 22px 10%;}
.labo_ratings[rating='1']{background-position: 22px 20%;}.labo_ratings[rating='1.5']{background-position: 22px 32%;}
.labo_ratings[rating='2']{background-position: 22px 41%;}.labo_ratings[rating='2.5']{background-position: 22px 51%;}
.labo_ratings[rating='3']{background-position: 22px 62%;}.labo_ratings[rating='3.5']{background-position: 22px 72%;}
.labo_ratings[rating='4']{background-position: 22px 82%;}.labo_ratings[rating='4.5']{background-position: 22px 91%;}
.labo_ratings[rating='5']{background-position: 22px 101%;}

.w_products .add-to-cart{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    height: 42px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 42px;
    width: 159px;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    background: #f5b027 url(../../assets/img/icone_cta_fnac.png) no-repeat;
    background-size: 12px;
    background-position: 17px 50%;
    margin: 8px auto 0 auto;
    padding-left: 16px;
}

.w_products .add-to-cart-disabled{
    height: 42px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 42px;
    width: 159px;
    text-align: center;
    z-index: 10;
    background-image: url(../../assets/img/fnac_indisponible.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor:no-drop;
    margin: 0 auto;
}

@media screen and (min-width: 850px) and (max-width: 1050px){
    .w_products .add-to-cart {
        height: 34px;
        font-size: 13px;
        line-height: 34px;
        width: 145px;
        background-position: 13px 50%;
        padding-left: 14px;
    }

}